[Unit]
Description=Cortex Daemon Socket
Documentation=https://github.com/cortexlinux/cortex

[Socket]
ListenStream=/run/cortex/cortex.sock
SocketMode=0666
Accept=no

[Install]
WantedBy=sockets.target

